---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Project from "../components/Project.astro";
import CardService from "../components/CardService.astro";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";
import SERVICES from "../assets/collections/services.json";
import HireServiceModal from "../components/HireServiceModal.astro";
---

<Layout>
  <section id="home" class="flex flex-col">
    <article class="text-gray-950 dark:text-white text-pretty mx-auto">
      <h1 class="text-4xl md:text-6xl font-bold max-w-screen-sm">
        Welcome 👋, I'm Carlos Miguel
      </h1>
      <div class="flex flex-col gap-6 mt-8">
        <h2 class="font-bold text-xl sm:text-2xl">
          Available to help you with:
        </h2>
        <div class="flex flex-col sm:flex-row gap-4 overflow-hidden relative">
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-blue-50 text-blue-500 dark:bg-blue-950/30 dark:text-blue-700 w-fit"
            >
              <svg
                class="size-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
                ><path
                  d="M128 32C92.7 32 64 60.7 64 96l0 256 64 0 0-256 384 0 0 256 64 0 0-256c0-35.3-28.7-64-64-64L128 32zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480l486.4 0c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2L19.2 384z"
                ></path></svg
              >
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Frontend Development
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Expert in creating dynamic and responsive user interfaces using
              <span class="text-blue-700 dark:text-blue-500"
                >Angular and Astro</span
              >. I bring your designs to life with clean, efficient, and
              maintainable code.
            </p>
          </Card>
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-yellow-50 text-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-700 w-fit"
            >
              <svg
                class="size-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                ><path
                  d="M64 32C28.7 32 0 60.7 0 96l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 32zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 288zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"
                ></path></svg
              >
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Backend Development
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Skilled in building robust and scalable server-side applications
              with <span class="text-yellow-700 dark:text-yellow-500"
                >NestJS and Express</span
              >. I ensure your backend is secure, efficient, and seamlessly
              integrated with your frontend.
            </p>
          </Card>
        </div>
      </div>
    </article>
  </section>
  <section id="about" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      About Me
    </h2>
    <article class="flex flex-col md:flex-row gap-4 p-4">
      <Card className="text-gray-600 dark:text-gray-400 h-fit">
        <div class="flex flex-col gap-2 text-sm sm:text-base">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Short Bio 🧬
          </h3>
          <p>
            I'm an experienced FullStack Web Developer focused on the NestJS and
            Angular ecosystem. I'm compromised with the quality of the code and
            the reliability of the websites I build.
          </p>
          <p>
            Currently, I'm developing a personal project called ThemeMarket, a
            free templates marketplace for developers.
          </p>
          <p>
            I like to share my knowledge with the community so I often make
            tutorials in my YouTube channel.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Want to know a bit more?
          </h3>
          <a
            href="/docs/cv.pdf"
            role="button"
            aria-label="Download CV"
            download
            class="px-4 py-2 rounded-md bg-blue-600 hover:bg-blue-700 dark:hover:bg-blue-800 dark:bg-blue-700 focus:ring-4 focus:outline-hidden focus:ring-blue-200 dark:focus:ring-blue-950 text-white w-fit font-semibold"
            >Download CV</a
          >
        </div>
      </Card>
      <Card className="p-8">
        <ol class="relative border-s border-gray-300 dark:border-neutral-800">
          {
            EXPERIENCES.map((experience) => (
              <TimelineItem
                title={experience.company}
                description={experience.description}
                date={experience.dates}
              >
                <div
                  slot="icon"
                  class="size-full p-1"
                  set:html={experience.svgIcon}
                />
              </TimelineItem>
            ))
          }
        </ol>
      </Card>
    </article>
  </section>
  <section id="projects" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white text-end ms-auto mb-8"
    >
      Latest Projects
    </h2>
    <div class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        PROJECTS.filter((__, i) => i < 3).map((project) => (
          <Project project={project} />
        ))
      }
    </div>
    <div class="mt-6 flex justify-center">
      <a
        role="button"
        href="/projects"
        class="font-semibold transition-colors px-4 py-2 text-base rounded-3xl bg-blue-600 hover:bg-transparent hover:border hover:border-blue-600 hover:text-blue-600 dark:bg-blue-800 text-white dark:hover:bg-transparent dark:hover:border-blue-800 dark:hover:text-blue-800 duration-300"
        >See All Projects</a
      >
    </div>
  </section>
  <section id="services" class="flex flex-col overflow-hidden">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      Services
    </h2>
    <article class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {SERVICES.map((service) => <CardService service={service} />)}
    </article>
  </section>
  <HireServiceModal />
</Layout>

<script>
  import { animate, inView, stagger } from "motion";

  window.addEventListener("DOMContentLoaded", () => {
    inView("#services", () => {
      animate(
        ".card-service",
        {
          transform: ["translateY(100%)", "translateY(0)"],
        },
        {
          delay: stagger(0.2),
          duration: 0.6,
        }
      );
    });
  });
</script>
